<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="site-tile">
            <a href=""><h1>Create Blog</h1></a>
            <p>This page made you create blog.</p>
        </div>
        <ul>
            <li><a href="/">Blog</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="create-blog content">
        <form action="">
            <label for="title">Blog title</label>
            <input type="text" id="title" required>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>